source/App_WebReferences/Population/WebServiceCities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllCitiesFromIsrael">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCitiesFromIsraelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCitiesFromIsraelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllCitiesFromIsraelSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCitiesFromIsrael" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesFromIsraelSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCitiesFromIsraelResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesFromIsraelHttpGetIn" />
  <wsdl:message name="GetAllCitiesFromIsraelHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCitiesSoap">
    <wsdl:operation name="GetAllCitiesFromIsrael">
      <wsdl:input message="tns:GetAllCitiesFromIsraelSoapIn" />
      <wsdl:output message="tns:GetAllCitiesFromIsraelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceCitiesHttpGet">
    <wsdl:operation name="GetAllCitiesFromIsrael">
      <wsdl:input message="tns:GetAllCitiesFromIsraelHttpGetIn" />
      <wsdl:output message="tns:GetAllCitiesFromIsraelHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCitiesSoap" type="tns:WebServiceCitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCitiesFromIsrael">
      <soap:operation soapAction="http://tempuri.org/GetAllCitiesFromIsrael" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCitiesSoap12" type="tns:WebServiceCitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCitiesFromIsrael">
      <soap12:operation soapAction="http://tempuri.org/GetAllCitiesFromIsrael" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCitiesHttpGet" type="tns:WebServiceCitiesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAllCitiesFromIsrael">
      <http:operation location="/GetAllCitiesFromIsrael" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCities">
    <wsdl:port name="WebServiceCitiesSoap" binding="tns:WebServiceCitiesSoap">
      <soap:address location="http://www.loveburn.com/school/WebServiceCities.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCitiesSoap12" binding="tns:WebServiceCitiesSoap12">
      <soap12:address location="http://www.loveburn.com/school/WebServiceCities.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCitiesHttpGet" binding="tns:WebServiceCitiesHttpGet">
      <http:address location="http://www.loveburn.com/school/WebServiceCities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>